{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UTN Exams App</title>
</head>
<body style=" margin: 0px; background: #2d2d2d;text-align: center;margin-top: 10rem">
    {% if yo is not None %}
        <p style="color:white;font-weight: bold">{{ yo.get_full_name }}</p>
    {% endif %}
    <img style="-webkit-user-select: none;" src="{% static "UTN_ExamsApp/assets/logo_UTN.png" %}" alt="UTN Fra">
</body>
</html>